{% extends 'layout.html' %}
{% block content %}

    <div>
        <h1>Home Page</h1>
    </div>

    <div>
            <input id="txtBox" type="text"><br>
            <button id="myButton">Get Pokémon</button>
    </div>

    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            var pokeID = document.getElementById('txtBox').value;
            location.href = "pokemon/" + pokeID;
        };
    </script>
{% endblock content %}
