<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Bootstrap CSS -->
    
    

    {% if name %}
        <title>Pokémon - {{ name }}</title>
    {% else %}
        <title>Pokémon API</title>
    {% endif %}
    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>  
    </nav>
      <div class="content">
          {% block content %}{% endblock %}

      </div>
 </body>
</html>