{% extends 'layout.html' %}
{% block content %}
    <h1 >{{ name }}</h1>
    <div>
            <p>Height: {{ pokemon.json_response['height'] }}</p>
                     
            <p>Weight: {{ pokemon.json_response['weight'] }}</p>
                  
            <div class="content">
                <h3>Type(s):</h3>
                    {% for types in pokemon.json_response.types %}
                    <li>
                        {{ types.type.name.title() }}
    
                    </li>
                    {% endfor %}

            </div>
    </div>


        <div class="content">
            <h3>Stats</h3>
            {% for stats in pokemon.json_response['stats'] %}
                <p>{{ stats['stat']['name'].title() }}: {{ stats['base_stat'] }}</p>
                
            {% endfor %}
            
        </div>
    
        
        <div>
            {% if pngs %}
            <h3>Images</h3>
            {% for png in pngs %}
            <div>
                <p></p>
                <img src="{{ png }}" alt="">
            </div>
            {% endfor %}
            
            {% else %}
            <div>
                <p>No images</p>
            </div>
            
            {% endif %}
        </div>
        
        <div class="content">
            <h3>In Games</h3>
            {% for game in pokemon.json_response['game_indices'] %}
                    <p>{{ game['version']['name'].title() }}</p>
            {% endfor %}
        </div>
{% endblock content %}